/pathology-app/.phpunit.cache
/pathology-app/node_modules
/pathology-app/public/build
/pathology-app/public/hot
/pathology-app/public/storage
/pathology-app/storage/*.key
/pathology-app/vendor
/pathology-app/.env
/pathology-app/.env.backup
/pathology-app/.env.production
/pathology-app/.phpunit.result.cache
/pathology-app/Homestead.json
/pathology-app/Homestead.yaml
/pathology-app/auth.json
/pathology-app/npm-debug.log
/pathology-app/yarn-error.log
/pathology-app/.fleet
/pathology-app/.idea
/pathology-app/.vscode

/docker-nginx/log/*

/mysql/data/*
