/phatology-app/.phpunit.cache
/phatology-app/node_modules
/phatology-app/public/build
/phatology-app/public/hot
/phatology-app/public/storage
/phatology-app/storage/*.key
/phatology-app/vendor
/mysql/data/*
/phatology-app/.env
/phatology-app/.env.backup
/phatology-app/.env.production
/phatology-app/.phpunit.result.cache
/phatology-app/Homestead.json
/phatology-app/Homestead.yaml
/phatology-app/auth.json
/phatology-app/npm-debug.log
/phatology-app/yarn-error.log
/phatology-app/.fleet
/phatology-app/.idea
/phatology-app/.vscode
