@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

html, body{
    background: rgb(204,204,204); 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Martian Mono', monospace; */
    font-family: 'Roboto', sans-serif;
}



.layout{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 21cm;
    min-width: 21cm;
}

.page-container{   
    /* position: relative;  */
    /* background-color: aquamarine; */
    max-width: 18.5cm;
    margin: 0 auto;
    height: 100%;
}

page {
    font-family: 'Roboto', sans-serif; 
    background: white;
    display: block; margin: 0 auto;
    margin-bottom: 0.5cm;     
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);    
    margin-top: 8px;
    /* z-index: 99; */
  }

page[size="A4"] {      
    position: relative;
    width: 21cm; height: 29.7cm; 
    min-width: 21cm; min-height: 29.7cm;
    max-width: 21cm; max-height: 29.7cm; 
    /* overflow-y: hidden; */
    color: rgb(92, 91, 91);
}

input{
    border: none;
    font-size: 1rem; color: rgb(100, 99, 99); font-weight: 600;
    -webkit-transition: 0.5s; transition: 0.5s;
}

/* textarea{
    font-size: 1.02rem;
    border: none;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;   
} */

/* Blank Page */
/* .add_plus{
    display: none;
    position: absolute;
    bottom: -10px;
    right: -10px;
} */

/* Footer */
.rt-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end; 
    margin-top: 10px;  
    width: 100%;
    margin-right: 10px;
}

.rt-footer input{
    width: 220px;
    border: none;
    border-bottom: 1px solid rgb(128,128,128);
    outline: none;
    text-align: center;
    color: blue;
    font-size: 16px;
}
.rt-footer label{
    width: 220px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
}

.line-footer{
    margin-top: 10px;
    border-top: 1px solid rgb(128,128,128);
    z-index: 0;
    text-align: center;
}
.line-footer label{
    font-size: 10px;
    letter-spacing: 1px;
}
.check-page{
    display: flex;
    position: fixed;
    top: 50%; 
    transform: translateY(-50%);
    left: 10px;   
    display: flex;
    flex-direction: column;
}
div[id^="rx_"]{
    padding: 0;    
    font-family: 'Roboto', sans-serif !important;
    cursor: text;
    font-size: 12px;
}
div[id^="rx_"] p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    
}
div[id^="rx_"] strong{
    font-size: 14px;
}
/* Custom Preview */
blockquote{
    padding-left: 40px;
    margin: 8px;
}

/* Menu Left */
.menu-left{
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70px;
    top: 100px;
    left: 0;
    padding: 10px;
}
.menu-left button{
    padding: 2px;
    margin: 1px;
}

.menu-left label{
    margin-bottom: 5px;
}

.disable{
    cursor: not-allowed;
}
