
page .header-logo {
    display: flex;  justify-content: space-around;
    flex-direction: row; align-items: center;
}
page .page-number {
    position: absolute;
    top: 15px;
    right: 15px;
}
/* Logo */
.header-logo {
    width: 550px;
    padding-top: 10px;
    /* background-color: aqua; */
    margin: 0 auto;    
}
.header-logo img {
    width: 120px;
}
.header-logo p {
    font-weight: 300; letter-spacing: 2px;
}
/* รายละเอียดชื่อผู้ป่วย */
.pt-detail {
    display: flex; justify-content: center; align-items: baseline; margin-top: -6px;      
}

.pt-detail table tbody tr td:nth-child(2){
    width: 100%;
    display: flex;
    align-items: baseline;
}

.hn-input {  
    width: 100%;  
    /* outline: none;  */
    box-sizing: border-box; 
    border: 0px solid #ccc;
    font-size: 1rem; color: rgb(100, 99, 99); font-weight: 600;
    -webkit-transition: 0.5s; transition: 0.5s;
}
table{
    width: 100%;
}
table tr{
    padding: 0;
    letter-spacing: 1px;
}
table tr td {
    width: 50%;
    font-weight: 300;
    color: rgb(13, 14, 14);
    padding: 0;
    /* letter-spacing: 0px; */
}
table b {
    /* font-weight: 100 bold; */
    font-size: .9rem; color: rgb(100, 99, 99);
}
