@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

#image1{
    position: relative;
    z-index: 5;
}

#image1 section{
    position: relative;
}
#image1 section span{
    position: absolute;
    top: 1px;
}
#image1 section textarea{
    font-family: 'Martian Mono', monospace;
    font-size: 14px;
    color: rgb(92, 91, 91);
}

#image1{
    position: relative;
}


#image1 section b{
    font-size: .9rem; color: rgb(92, 91, 91);
}
#image1 textarea{    
    width: 100%;
    resize: vertical;
    margin: 0 auto;
    outline: none;
    border: none;
    /* border-bottom: 1px solid gainsboro; */
    line-height: 130%;
}
#editor_dx{
    /* position: relative;     */
}
#editor_dx textarea{
    /* position: inherit; */
    width:100%;
    /* height: 450px; */
    border: none;
    /* border: 1px dotted rgb(128,128,128); */
    resize: vertical;
}

.ui-menu-item li div{
    padding: 0 !important;
}
.ui-menu-item-wrapper{
    margin: 0 !important;
    padding: 0 !important;
}
.ui-menu-item-wrapper :where(p,h4){
    margin: 0;
}

.ui-state-active{
    display: flex;
    flex-direction: column;
    margin: 0;
    transition: .5 ease-out;
}

.image1-footer{
    /* background-color: aliceblue; */
    position: absolute;
    bottom: 10px !important;
    left: 0px !important;
    width: 100%;
}

#add-page{
    position: absolute;
    right: -20px;
    bottom: -20px; 
    transition: .7s ease-out;
    font-size: 20px;
    display: block;    
}
#add-page #add{
    color: rgb(39, 54, 184);
}
#add-page .fa-trash-can{
    display: none;
    color: chocolate;
}

#text_blank{
    
    width: 100%;
    height: 700px;
}
#blank_page{
    display: none;
    z-index: 5;
}


