@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

#image1{
    position: relative;
    z-index: 5;
}

#image1 [id^='tx_clinical_']{
    position: relative;
}
#image1 [id^='tx_clinical_'] span{
    position: absolute;
    top: 1px;
}

#image1 textarea{
    /* font-family: 'Martian Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgb(73 227 157);
    width:100%;    
    border: none;   
    resize: vertical;
    background-color: rgb(51, 53, 54);
}
#image5 textarea{
    /* font-family: 'Martian Mono', monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgb(73 227 157);
    width:100%;    
    border: none;   
    resize: vertical;
    background-color: rgb(51, 53, 54);
}


#image1 [id^='tx_clinical_'] b{
    font-size: .9rem; 
    color: rgb(227 241 235);
}
#image1 [id^='tx_clinical_']{    
    width: 100%;
    resize: vertical;
    margin: 0 auto;
    outline: none;
    border: none;
    color:rgb(73 227 157);
    line-height: 130%;
}
.ui-menu-item li div{
    padding: 0 !important;
}
.ui-menu-item-wrapper{
    margin: 0 !important;
    padding: 0 !important;
}
.ui-menu-item-wrapper :where(p,h4){
    margin: 0;
}

.ui-state-active{
    display: flex;
    flex-direction: column;
    margin: 0;
    transition: .5 ease-out;
}

.image1-footer{
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 90%;
}

#add-page{
    position: absolute;
    right: -20px;
    bottom: -20px; 
    transition: .7s ease-out;
    font-size: 20px;
    display: block;    
}
#add-page #add{
    color: rgb(39, 54, 184);
}
#add-page .fa-trash-can{
    display: none;
    color: chocolate;
}

#text_blank{
    
    width: 100%;
    height: 700px;
}
#blank_page{
    display: none;
    z-index: 5;
}


