@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

html, body{
    background: rgb(204,204,204); 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', monospace;
    /* font-family: 'Roboto', sans-serif; */
}
#watermark{
    display: none;
    position: absolute;
    top: 100px;
    left: -5px;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    filter: grayscale(100%);
    opacity: .1;
}

.container{   
    /* position: relative;  */
    /* background-color: aquamarine; */
    max-width: 18.5cm;
    margin: 0 auto;
    height: 100%;
}

page {
    font-family: 'Roboto', sans-serif; 
    background: white;
    display: block; margin: 0 auto;
    margin-bottom: 0.5cm;     
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    margin-top: 8px;
    z-index: 99;
  }

page[size="A4"] {      
    position: relative;
    width: 21cm; height: 29.7cm; 
    min-width: 21cm; min-height: 29.7cm;
    max-width: 21cm; max-height: 29.7cm; 
    /* overflow-y: hidden; */
    color: rgb(92, 91, 91);
}

input{
    border: none;
    font-size: 1rem; color: rgb(100, 99, 99); font-weight: 600;
    -webkit-transition: 0.5s; transition: 0.5s;
}

textarea{
    font-size: 1.02rem;
    border: none;
    outline: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;   
}

/* Blank Page */
.add_plus{
    display: none;
    position: absolute;
    bottom: -10px;
    right: -10px;
}
i[id^="eraser"] {
    position: absolute;
    top: -8px;
    /* color: orangered; */
    
    right: -8px;
}

/* Footer */
.rt-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end; 
    margin-top: 10px;  
    width: 100%;
}

.rt-footer input{
    width: 220px;
    border: none;
    border-bottom: 1px solid rgb(128,128,128);
    outline: none;
    text-align: center;
    color: blue;
    font-size: 16px;
}
.rt-footer label{
    width: 220px;
    text-align: center;
    font-size: 13px;
}

.line-footer{
    margin-top: 12px;
    border-top: 1px solid rgb(128,128,128);
    z-index: 0;
    text-align: center;
}
